# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
*.iws
.idea_modules/
out/

# Visual Studio Code
.vscode/
*.code-workspace
.history/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
terraform.tfvars